<ion-header>
  <ion-toolbar>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment (ionChange)="segmentChanged($event)" color="secondary">
  <ion-slides [options]="sliderOption">
    <ion-slide *ngFor="let categoria of categorias">
        <ion-segment-button value="{{categoria.valor}}" checked>
            <ion-label>{{categoria.nombre}}</ion-label>
        </ion-segment-button>
    </ion-slide>
  </ion-slides>
  
</ion-segment>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-xm="12" size-sm="6" size-md="4" size-lg="3"
       *ngFor="let articulo of articulos">
          <ion-card (click)="openActionsSheet(articulo.url, articulo.title, articulo)">
              <ion-card-header>
                  <ion-card-subtitle>{{articulo.author}}</ion-card-subtitle>
                  <ion-card-title>{{articulo.title}}</ion-card-title>
                </ion-card-header>
              <ion-img src="{{articulo.urlToImage}}"></ion-img>
              <ion-card-content>
                <p>{{articulo.content}}</p>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
